Source: bmake
Section: utils
Priority: optional
Maintainer: Scott Haseley <shaseley@buffalo.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: http://www.eecs.harvard.edu/~dholland/os161/download/
Vcs-Browser: https://github.com/ops-class/bmake
Vcs-Git: git://github.com/ops-class/bmake.git

Package: bmake
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OS/161 bmake
 bmake for building OS/161 on precise systems that don't already have it.
